<!DOCTYPE html>

<html>
  <head>
    <meta name = "viewport" content="width=device-width" initial-scale="1.0" charset="UTF-8">
    <title>Home</title>
    
    <script>

      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
       
    </script>
    
  </head>
  
  <body>
  
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'About Us', aboutus_path %></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to 'About Us', aboutus_path %></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
    
     <h1 class="center-align flow-text">Edit existing article</h1>

    <div class ="container">
      <!-- Page content goes here-->
              
      <% if @article.errors.any?  %>
        <h4>The following errors prevented the article from getting created. </h4>
        <ul class="collection">
        <% @article.errors.full_messages.each do |msg| %>
          <li class="collection-item"><%= msg %></li>
        <% end %>
        </ul>
      <% end %>
        
      <%= form_for @article do |f| %>
      
        <p>
          <%= f.label :title %> <br/>
          <%= f.text_field :title %>
        </p>
        
        <p>
          <%= f.label :description %> <br/>
          <%= f.text_area :description %>
        </p>
        
        <p>
           <button class="btn waves-effect waves-light" type="submit" name="action">
           <%= f.submit %>
           </button>
        </p>
      
      <% end %>

      <h1 class="center-align flow-text"><%= link_to 'Back to article list', articles_path %></h1>
      
    </div>
  
  </body>
</html>
