  <h1 class="center-align flow-text">List of articles <%= link_to 'Add New', new_article_path %></h1>
     
    <div class ="container">
      <!-- Page content goes here-->
      
      <% @article.each do |a|%>
       <div class="col s12 m7">
         <h2 class="header">Title: <%= a.title %></h2>
       <div class="card horizontal">
         <div class="card-image">
           <img src="">
         </div>
       <div class="card-stacked">
         <div class="card-content">
           <p><%= a.description %></p>
         </div>
         <div class="card-action">
           <a <%= link_to 'Show Article', article_path(a) %></a>
           <a <%= link_to 'Edit Article', edit_article_path(a) %></a>
           <a <%= link_to 'Delete Article', article_path(a) , data: { confirm: "Are you sure want to delete #{a.title} ? " }, method: :delete %></a>
         </div>
       </div>
      </div>
    </div>
    <hr>
    <% end %>
 </div>