    <h1 class="center-align flow-text">Showing selected articles</h1>

    <div class ="container">
      <!-- Page content goes here-->
      
       <div class="col s12 m7">
         <h2 class="header">Title: <%= @article.title %></h2>
       <div class="card horizontal">
         <div class="card-image">
           <img src="">
         </div>
       <div class="card-stacked">
         <div class="card-content">
           <p><%= @article.description %></p>
         </div>
         <div class="card-action">
           <a <%= link_to 'Edit Article', edit_article_path %></a>
           <a <%= link_to 'Delete Article', article_path(@article), data: {confirm: "Are you want to delete this article ?"}, method: :delete %></a>
         </div>
       </div>
      </div>
    </div>
    
     <h1 class="center-align flow-text"><%= link_to 'Back to article list', articles_path %></h1>
      
    </div>